<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Home Page</h1>

    <!-- <form action="#">
        <table>
            <tr>
                <td>Enter ID</td>
                <td>
                    <input type="text" id="box_1" name="userid">
                </td>
                <td>
                    <span id="err"></span>
                </td>
            </tr>
            <tr>
                <td>Enter Name</td>
                <td>
                    <input type="text" placeholder="Enter name" name="username">
                </td>
            </tr>
            <tr>
                <td>Enter Email</td>
                <td>
                    <input type="email" placeholder="Enter Email" name="usermail" id="box_2">
                </td>
                <td>
                    <span id="err"></span>
                </td>

                <td>Select Department</td>
                <td>
                    <select name="city">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enter Password</td>
                <td>
                    <input type="password" placeholder="Enter Password" name="userpwd">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form> -->

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter ID</td>
                <td>
                    <input type="text" placeholder="Enter ID" name="emp_id" id="box_1">
                </td>
                <td><span id="err"></span></td>
            </tr>
            <tr>
                <td>Enter Name</td>
                <td>
                    <input type="text" placeholder="Enter Name" name="emp_name">
                </td>
            </tr>
            <tr>
                <td>Select Dept</td>
                <td>
                    <select name="emp_dept">
                        <option>Select Department</option>
                        <option value="IT">IT</option>
                        <option value="HR">HR</option>
                        <option value="BPO">BPO</option>
                        <option value="tech">Tech Support</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Select City</td>
                <td>
                    <select name="emp_city">
                        <option>Select City</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Noida">Noida</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enter Salary</td>
                <td>
                    <input type="text" placeholder="Enter Salary" name="emp_sal">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit" value="Register">
                </td>
            </tr>
        </table>
    </form>

    {% load staticfiles %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>